.about-us{
    
    &_title{
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 1.1rem;

        @include atMedium{
            font-size: 1.65rem;
        }

        @include atLarge{
            font-size: 2.8175rem;
        }

        @include xLarge{
            font-size: 2.8175rem;
        }
    }


    &_description{
        
        margin: auto;
        max-width: 400px;
        font-size: 0.68rem;
        padding: 0 1.5rem;
        @include atMedium{
            padding: 0;
            max-width: 660px;
            font-size: 0.8rem;
        }

        @include atLarge{
            max-width: 821px;
            font-size: 1.375rem;
        }

        @include xLarge{
            max-width: 821px;
            font-size: 1.375rem;
        }
    }
}