.generic-content{
    &_description{
        line-height: 1.6;
    }
    &_underline{
        width: 70px;
        height: 2px;
        background: $blackColor;
        
        margin: 1.4rem auto;

        @include atMedium{
            margin: 2.2rem auto;
            width: 86px;
        }

        @include atLarge{
            margin: 4.375rem auto;
        }

        @include xLarge{
            margin: 4.375rem auto;
        }
    }
    
    &_title{
            text-align: center;
            font-size: 0.78rem;
            font-weight: 900;
            @include atMedium{
                font-size: 1.87rem;
            }
            
            @include atLarge{
                font-size: 2.1875rem;
            }

            @include xLarge{
                font-size: 2.1875rem;
            }
        }
}