.site-header{
    @include clearfix;
}

.hero-section{
    position: relative;
    color: #fffefe;
    
        background-image: url('../assets/images/hero--small.jpg');
        @include backgroundProperties;
        padding: 2rem 0;
    

    @include atMedium{
        background-image: url('../assets/images/hero--medium.jpg');
        @include backgroundProperties;
        padding: 1.65rem 0;
    }
    
    @include atLarge{
        background-image: url('../assets/images/hero--large.jpg');
        @include backgroundProperties;
        padding: 2.2rem 0;
    }

    @include xLarge{
        padding: 3.125rem 0 2.875rem 0;
        // background-image: url('../assets/images/hero--large-i.jpg');
        background-image: url('../assets/images/hero--large.jpg');
        @include backgroundProperties;
    }
    @include atLarge-high-dpi{
        //background-image: url('../assets/images/hero--large-hi-dpi-i.jpg');
        background-image: url('../assets/images/hero--large-hi-dpi.jpg');
        @include backgroundProperties;
    }


    /* Logo */
    &_logo{
        @include clearfix;
        float: left;    
    }
    &_bars{
        width: 15px;
        height: 17px;
        position: relative;
        float: left;
        padding-right: 4px;
    }
    &_bar1{
        position: absolute;
        top: 0px;
        left: 0;
        width: 15px;
        height: 2px;
        background: $barsColor;

        @include atMedium{
            height: 3px;
        }

    }
    &_bar2{
        position: absolute;
        top: 5px;
        left: 0;
        width: 10px;
        height: 2px;
        background: $barsColor;

        @include atMedium{
            top: 7px;
            height: 3px;
        }

    }
    &_bar3{
        position: absolute;
        top: 10px;
        left: 0;
        width: 15px;
        height: 2px;
        background: $barsColor;

        @include atMedium{
            top: 14px;
            height: 3px;
        }

    }
    &_title{
        margin-top: -4px;
        float: left;
        transform: translateX(2px);

        @include atMedium{
            transform: translateX(4px);
        }

        h1{
            font-size: 1rem;
            text-transform: uppercase;

            @include atMedium{
                font-size: 1.4375rem;
            }

        }
    }


    /* Menu links */

    &_menu-links{
        position: fixed;
        right: 0px;
        top: 0px;
        width: 50%;
        height: 100%;
        padding-top: 5rem;
        background: #012536;
        opacity: 0;
        visibility: hidden;
        z-index: -10;
        transform: scale(1.4);
        transition: all .5s ease-in-out;
        //Toggle the menu

            &-visible{
                opacity: 1;
                z-index: 10;
                visibility: visible;
                transform: scale(1);
            }

        //Togle the menu end

        @include atMedium{
            float: right;
            position: relative;
            height: auto;
            width: auto;
            top: 0;
            right: 0;
            padding-top: 0;
            background: none;
            opacity: 1;
            visibility: visible;
            z-index: 10;
            transform: scale(1);
        }

        ul{
            list-style-type: none;
            @include clearfix;
        }
        li{
            float: none;
            margin-bottom: 15px;
            text-align: center;
            padding-bottom: 1rem;
            @include atMedium{
                float: left;
                padding-right: 16px;
                margin-bottom: 0;
            }

            @include atLarge{
                padding-right: 18px;
            }

            @include xLarge{
                padding-right: 50px;
            }

        }
        li:last-child{
            padding-right: 0;
        }
        a{
            color: #fffefe;
            padding: 20px;
            @include atSmall{
                font-size: 0.6rem;
                padding: 0;
            }

            @include atMedium{
                font-size: 0.88rem;
            }

            @include xLarge{
                font-size: 1.1rem;
            }
            &:hover{
                color: $grayColor;
            }
        }
    }

    &_menu-icon{
    width: 20px;
    height: 19px;
    position: fixed;
    z-index: 20;
    top: 24px;
    right: 10px;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $barsColor;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
      }

        &_middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $barsColor;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $barsColor;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
          }

          @include atMedium{
              display: none;
          }

          //Close the menu
          &-close-x{
              &::before{
                transform: rotate(45deg) scaleX(1.25);
              }

              .hero-section_menu-icon_middle{
                opacity: 0;
                transform: scaleX(0);
              }

              &::after{
                  transform: rotate(-45deg) scaleX(1.25) translateY(1px);
              }
          }
    }


    /* Information-agency */
    &-info{
        text-align: center;
        margin: auto;
        position: relative;
        max-width: 300px;
        padding: 1rem 0 0 0;
        
        @include atMedium{
            max-width: 520px;
            padding: 7.4rem 0 0 0;
        }

        @include atLarge{
            max-width: 615px;
            padding: 10.2rem 0 0 0;
        }

        @include xLarge{
            max-width: 615px;
            padding: 15.93rem 0 0 0;
        }

        &_title{
            text-transform: uppercase;
            font-weight: 800;
            font-size: 1rem;

            @include atMedium{
                font-size: 2rem;
            }

            @include atLarge{
                font-size: 3rem;
            }

            @include xLarge{
                font-size: 3rem;
            }
        }

        &_underline{
            width: 5.375rem;
            height: 2px;
            background: #fffefe;
            margin: 1.3rem auto;

            @include atMedium{
                margin: 1.75rem auto;
            }

            @include atLarge{
                margin: 2.8125rem auto;
            }

            @include xLarge{
                margin: 2.8125rem auto;
            }
        }

        &_description{
            font-size: .66rem;

            @include atMedium{
                font-size: 1.1rem;
            }

            @include atLarge{
                font-size: 1.375rem;
            }

            @include xLarge{
                font-size: 1.375rem;
            }
        }
    }

    //Arrow
    &-arrow{
        
        margin: auto;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        width: 35px;
        height: 35px;
        border: 1px solid #ffffff;
        margin-top: 1.4rem;
        @include atMedium{
            width: 50px;
            height: 50px;
            margin-top: 4.4rem;
            border: 2px solid #ffffff;
        }

        @include atLarge{
            width: 65px;
            height: 65px;
            margin-top: 10.2rem;
            border: 4px solid #ffffff;
        }

        @include xLarge{
            width: 95px;
            height: 95px;
            margin-top: 15.93rem;
            border: 4px solid #ffffff;
        }
        i{
            border: solid #ffffff;
            display: inline-block;
            position: absolute;
            top: 35%;
            left: 40%;
            padding: 3px;
            border-width: 0 1px 1px 0;
            
            @include atMedium{
                padding: 6px;
                border-width: 0 2px 2px 0;
                top: 25%;
                left: 35%;
            }
    
            @include atLarge{
                padding: 9px;
                border-width: 0 3px 3px 0;
            }

            @include xLarge{
                padding: 13px;
                border-width: 0 3px 3px 0;
            }
        }
        .down {
            transform: rotate(45deg);
          }
    }
}