.info{
    color: #fff;
    

    @include atMedium{
        background: url('../assets/images/page-info-1-medium.jpg');
        @include backgroundProperties;
        padding-top: 2rem;
    }

    @include atLarge{
        background: url('../assets/images/page-info-1.jpg');
        @include backgroundProperties;
        padding-top: 4.375rem;
    }

    @include xLarge{
        background: url('../assets/images/page-info-1.jpg');
        @include backgroundProperties;
        padding-top: 4.375rem;
    }

    &-sidebar-one{
        padding-top: 6.25rem;
        
        &_title{
            text-transform: uppercase;
            font-weight: 900;
            @include atLarge{
                font-size: 2.47rem;
            }
            @include xLarge{
                font-size: 2.8125rem;
            }
        }
        &_description{
            margin-top: 1.125rem;
            font-weight: 100;

            @include atMedium{
                max-width: 80%;
            }

            @include atLarge{
                max-width: 80%;
                font-size: 1.175rem;
            }
            @include xLarge{
                font-size: 1.175rem;
                max-width: 75%;
            }
        }
    }
    &-sidebar-two{
        img{
            border-radius: 36px 36px 0 0;
        }
    }
}