.our-skills{

    &-large_6{
        @include atMedium{
            display: flex;
        }
        
        // @include atLarge{
        //     display: flex;
        // }
        // @include xLarge{
        // display: flex;
        // }
        >div{
            @include atMedium{
                flex: 1;
            }
            
            @include atLarge{
                margin-right: 2rem;
            }

            @include xLarge{
                margin-right: 4.6rem;
            }
        }
        &-col{
            h2{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 900;
                margin-bottom: 25px;
                font-size: 0.88em;
                @include atMedium{
                    font-size: 1rem;
                }

                @include atLarge{
                    font-size: 1.2rem;
                }

                @include xLarge{
                    font-size: 1.6rem;
                }

            }
            p{
                font-size: 0.7rem;

                @include atMedium{
                    font-size: 0.88rem;
                    max-width: 85%;
                }

                @include atLarge{
                    font-size: 1rem;
                    max-width: 100%;
                }

                @include xLarge{
                    font-size: 1.43rem;
                    max-width: 100%;
                }
            }
            h4{
                font-weight: 100;
                font-size: 0.6rem;
                margin-bottom: 0.4rem;
                @include atMedium{
                    margin-bottom: 2px;
                    font-size: 0.875rem;
                }

                @include atLarge{
                    margin-bottom: 8px;
                }

                @include xLarge{
                    margin-bottom: 8px;
                }
            }
            
        &-bottom-margin-at-small{
            margin-bottom: 40px;
            @include atMedium{
                margin-bottom: 0;
            }
        }
        }
    }
}


.bar-1{
    height: 14px;
    background: $skillsBarColor;
    border-radius: 20px;
    margin-bottom: 1.75rem;
    max-width: 300px;
    @include atMedium{
        max-width: 350px;
    }

    @include atLarge{
        max-width: 400px;
    }
    @include xLarge{
        max-width: 550px;
    }
}
.bar-2{
    @extend .bar-1;
    max-width: 350px;

    @include atMedium{
        max-width: 400px;
    }

    @include atLarge{
        max-width: 450px;
    }
    @include xLarge{
        max-width: 560px;
    }
}
.bar-3{
    @extend .bar-1;
    max-width: 290px;

    @include atMedium{
        max-max-width: 340px;
    }

    @include atLarge{
        max-width: 390px;
    }
    @include xLarge{
        max-width: 490px;
    }
}
.bar-4{
    @extend .bar-1;
    max-width: 240px;

    @include atMedium{
        max-width: 290px;
    }

    @include atLarge{
        max-width: 340px;
    }
    @include xLarge{
        max-width: 440px;
    }
}
.bar-5{
    @extend .bar-1;
    max-width: 100px;

    @include atMedium{
        max-width: 150px;
    }

    @include atLarge{
        max-width: 200px;
    }
    @include xLarge{
        max-width: 300px;
    }
}