.our-work{
    
    margin: 0 auto;
    padding: 2rem;

    @include atMedium{
        padding: 5rem 0 5.2rem 0;
    }

    @include atLarge{
        padding: 7.5rem 0 8.125rem 0;
    }

    @include xLarge{
        padding: 7.5rem 0 8.125rem 0;
    }

    
    &_title{
        h1{
            margin: auto;
            text-align: center;
            color: $blackColor;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 1.1rem;

            @include atMedium{
                font-size: 1.87rem;
            }
            @include atLarge{
                font-size: 2.1875rem;
            }
            @include xLarge{
                font-size: 2.1875rem;
            }
        }
    }

    //Links
    &-nav_categories{
        max-width: 330px;
        margin: auto;
        text-align: center;
        @include atMedium{
            max-width: 650px;
        }

        @include atLarge{
            max-width: 700px;
        }

        ul{
            list-style: none;
            @include clearfix;
        }
        li{
            float: left;
            @media (max-width:325px) {
                padding-right: 0.3;
            }
            padding-right: 0.6rem;
            @include atMedium{
                padding-left: .6rem;
                padding-right: 2.3rem;
            }
        }
        li:last-child{
            padding-right: 0;
        }
        a{
            color: $grayColor;
            @media (max-width:325px) {
                font-size: .3rem;
            }

            font-size: 0.5rem;
            

            @include atMedium{
                font-size: 0.875rem;
                padding-right: 0;
            }

            @include atLarge{
                font-size: 1.1875rem;
            }

            @include xLarge{
                font-size: 1.1875rem;
            }
        }
    }

    //Gallery
    .flexbox &-gallery{
        
        display: flex;
        // flex-direction: column;
        padding: 3rem 0;
        flex-wrap: wrap;
        justify-content: space-between;
        background: none;
        @include atMedium{
            padding: 5.3125rem 0;
        }

        &_photo{
            position: relative;
            flex-basis: 48%;
            margin-bottom: 1rem;
            margin-right: 0;

            @include atMedium{
                flex-basis: 32%;
                margin-bottom: 1.375rem;
            }

            img{
                cursor: pointer;
            }

            &-overlay{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                color: #fff;
                pointer-events: none;
                opacity: 0;
                transition: opacity .5s ease-out;
                div{
                    text-align: center;
                    @include atMedium{
                        transform: translateY(150%);
                    }
                }
                h2{
                    font-size: 1.375rem;
                    margin-bottom: 10px;
                }
            }

            &-hide-initially{
                display: none;
            }
        }
        
        &-empty{
            display: none;
            @include atMedium{
                display: block;
                z-index: -10;
                visibility: hidden;
            }
        }
    }









    &-gallery{
        @include clearfix;
        padding: 3rem 0;
        
        @include atMedium{
            padding: 5.3125rem 0;
        }

        &_photo{
            position: relative;
            float: left;
            width: 45%;
            margin-bottom: 1rem;
            margin-right: 8px;
            @include atMedium{
                width: 30%;
                margin-bottom: 1.375rem;
                margin-right: 20px;
            }

            img{
                cursor: pointer;
            }

            &-overlay{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                color: #fff;
                pointer-events: none;
                opacity: 0;
                transition: opacity .5s ease-out;
                div{
                    text-align: center;
                    @include atMedium{
                        transform: translateY(150%);
                    }
                }
                h2{
                    font-size: 1.375rem;
                    margin-bottom: 10px;
                }
            }

            &-hide-initially{
                display: none;
            }
        }
        
        &-empty{
            display: none;
            @include atMedium{
                display: block;
                z-index: -10;
                visibility: hidden;
            }
        }
    }








    &-btn{
        display: block;
        padding: 10px 60px;
        margin: auto;
        font-size: 1rem;
        font-weight: 300;
        outline: none;
        border: 3px solid $blackColor;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all .2s ease-out;
        &:hover{
            background-color: #222222;
            color: #fff;
        }

        @include atMedium{
            font-size: 1.5rem;
            padding: 20px 150px;
        }
    }

    &-clients{
        
        padding: 3.6rem 0 1rem 0;

        @include atMedium{
            padding: 6.6rem 0 4rem 0;
        }

        @include atLarge{
            padding: 11.875rem 0 8.125rem 0;
        }

        @include xLarge{
            padding: 11.875rem 0 8.125rem 0;
        }
        // &_title{
        //     text-align: center;
            
        //     font-weight: 900;
        //     @include atMedium{
        //         font-size: 1.87rem;
        //     }
            
        //     @include atLarge{
        //         font-size: 2.1875rem;
        //     }

        //     @include xLarge{
        //         font-size: 2.1875rem;
        //     }
        // }
        &_icons{
            display: flex;
            justify-content: space-between;
            >div{
                flex-basis: 10%;
                @include atMedium{
                    flex-basis: 15%;
                }
            }
        }
    }
}