.page-section{
    
    padding: 1.4rem 0;

    @include atMedium{
        padding: 3.6rem 0;
    }
    
    @include atLarge{
        padding: 7.5rem 0;
    }

    @include xLarge{
        padding: 7.5rem 0;
    }
}